<div id='payupaisa-warning' style="display:none">
  <strong>You cannot charge Payupaisa accounts through the admin backend at this time.</strong>
</div>
<script>
  SpreePayupaisaExpress.paymentMethodID = "<%= payment_method.id %>"  
</script>
